@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #55302c;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
 */
.item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
  color: #fff;
}

.item2 {
  position: relative;
  grid-row: 1 / span 3;
  background: url("https://images.unsplash.com/photo-1556157421-7f1c2e199b2e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.item2 .content {
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15%;
  width: 60%;
  background-color: #38201d;
  padding-top: 20px;
  padding-left: 20px;
}

.item3 {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.header {
  background: #38201d;
  height: 10vh;
}

.item1 .container {
  padding: 15% 0px 20px 15%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.item1 .container h3 {
  font-size: 2rem;
  opacity: 0.7;
}

.item1 .container h1 {
  color: #fff;
  font-size: 5rem;
  padding: 20px 0 10px;
  margin-left: 0;
  padding-left: 0;
  letter-spacing: 5px;
}

.btn {
  background: transparent;
  border: 2px solid #fff;
  padding: 5px 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  opacity: 0.8;
  margin: 10px 0 40px;
}

.container p {
  padding-top: 50px;
  opacity: 0.7;
  line-height: 1.5;
  padding-bottom: 20px;
}

.container p:last-of-type {
  opacity: 0.5;
  padding-left: 35%;
}

.header {
  display: grid;
  grid-template-columns: 100px 20% 20% 20%;
  grid-gap: 20px;
  padding-left: 15%;
}

#coffee {
  color: #38201d;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: #fff;
  padding: 10px 0;
  text-decoration: none;
  opacity: 0.8;
}

.grid-item .active {
  border-bottom: 2px solid #fff;
}

.item3 {
  font-size: 1.2rem;
  color: #38201d;
}

.fa-gift {
  color: #55302c;
  font-size: 2rem;
}

.fa-arrow-right {
  font-size: 2rem;
  padding-left: 60px;
}

@media (max-width: 900px) {
  .grid-container {
    height: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .item1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 4;
    color: #fff;
  }
  .item2 {
    grid-column: 1 / span 3;
    grid-row: 4 / span 3;
  }
  .item3 {
    grid-column: 1 / span 3;
    grid-row: 7 / span 2;
  }

  .header {
    padding-left: 0;
  }
}

@media (max-width: 520px) {
  .item1 .content .container {
    display: flex;
    align-items: center !important;
    padding-left: 0px;
  }

  .btn {
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header {
    grid-gap: 5px;
  }

  .item1 .content p:first-of-type {
    text-align: center;
  }

  .item1 .grid-item {
    display: none;
  }

  .fa-bars {
    font-size: 1.2rem;
    color: #000;
  }

  .menu-icon {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #coffee {
    width: 200%;
    justify-content: flex-start;
  }
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: #38201df6;
  z-index: 1;
  padding-top: 100px;
  overflow-x: hidden;
  transition: all 0.5s;
}

.side-menu a {
  font-family: "Open Sans", sans-serif;
  padding: 8px 8px 16px 60px;
  text-decoration: none;
  color: #ddd;
  font-size: 2rem;
  display: block;
  margin-bottom: 50px;
  transition: 0.4s ease;
}

.side-menu a:first-child:hover,
.side-menu a:nth-of-type(2):hover,
.side-menu a:nth-of-type(3):hover {
  color: #38201d;
  background-color: #fff;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 32px;
}
